<div class="modal fade" tabindex="-1" role="dialog" id="dealFileModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title"></div>
				<button type="button" class='close-btn' data-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="row row-header">
					<div class="filetitle-container">
						<span class="file-title"></span>
						<label class="arrows"></label>
					</div>
					<span class="file-name"></span>
				</div>
				<textarea name="suggest" id="suggest" placeholder="请输入您的修改意见（可选）"></textarea>
			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">取消</button>-->
				<button type="button" class="btn" id="NoPass">不通过</button>
				<button type="button" class="btn btn-primary" id="Pass">同意</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->