<div class="modal fade" id="dealPwdModal">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
                <div class="modal-title">请输入操作密码</div>
				<button type="button" class='close-btn' data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
	        	<input type="password" id="dealPwd"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancelBtn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger sureBtn" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
